body {
    font-family: sans-serif;
  }
  h1, h2 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  label {
    margin-top: 10px;
  }
  input[type="text"], textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  p, a {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    margin: 10px;
  }

  p {
    margin: 20px;
    font-size: 16px;
  }
  a[href="/"] {
    display: block;
    margin: 20px;
    font-size: 16px;
  }
  
